@import url('https://fonts.googleapis.com/css2?family=K2D:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'K2D', sans-serif;
}

/* header */
.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    position: relative;
    background-color: white;
    padding: 0 18px;
}

.burger-logo {
    font-size: 20px;
}

.open {
    height: 230px !important;
}

.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 0;
    width: 100%;
    position: absolute;
    top: 52px;
    left: 0;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.nav-container ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.nav-container li {
    margin-bottom: 20px;
}

.nav-container a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.logo {
    font-size: 40px;
    text-align: center;
}

.logo-span {
    color: #0085FF;
}

.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.icon-items {
    font-size: 20px;
    margin-left: 10px;
}

/* Hero Section */
.hero-container {
    background-color: black;
    padding-top: 70px;
}

.hero-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.hero-title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: white;
}

.hero-span {
    color: #0085FF;
}

/* Feedback */
.feedback-container {
    position: fixed;
    width: 100%;
    bottom: 8rem;
    text-align: -webkit-right;
    z-index: 1;
}

.feedback {
    position: relative;
    width: 30px;
    height: 76px;
    background-color: #0085FF;
    padding: 10px 0px;
    border-radius: 10px 0px 0px 10px;
    
}

.feedback-text {
    transform: rotate(90deg);
    color: white;
    font-size: 14px;
    margin-top: 5px;
}

.feedback-text a {
    text-decoration: none;
    color: white;
}

/* Whatsapp */
.whatsapp-container {
    position: fixed;
    width: 100%;
    bottom: 1rem;
    padding-right: 10px;
    text-align: -webkit-right;
    z-index: 1;
}

.whatsapp {
    display: flex;
    width: 50px;
    height: 48px;
    background: var(--text-dark, #9E9E9E);
    padding: 8px 9px 4px 6px;
    justify-content: flex-end;
    border-radius: 50px;
}

.whatsapp img {
    width: 30px;
    height: 30px;
}

/* Carousel */
.carousel-container {
    background-color: #CCCCCC;
    padding: 30px 0;
}

.carousel-inner {
    display: flex;
    align-items: center;
    padding: 10px;
    overflow: auto;
    gap: 15px;
}

.carousel-inner::-webkit-scrollbar {
    display: none;
}

.carousel-inner img {
    height: 20px;
}

/* About */
.about-container {
    background-color: #CCCCCC;
    padding: 120px 40px;
}

.about-title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.about-span {
    color: #0085FF;
}

.about-sub {
    text-align: justify;
}

/* Custom */
.custom-container {
    position: relative;
    background-color: black;
    padding: 50px 40px 140px 40px;
    overflow: hidden;
}

.custom-text {
    color: white;
    text-align: justify;
}

.custom-link {
    color: #0085FF;
    text-decoration: none;
}

.custom-image {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 400px;
}

/* Galeri */
.galeri-container {
    padding: 10px 20px;
}

.galeri-title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.galeri-card-container {
    padding: 20px 5px;
    display: flex;
    gap: 15px;
    overflow: auto;
}

.galeri-card-container::-webkit-scrollbar {
    display: none;
}

.galeri-card {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.galeri-card img {
    border-radius: 5px;
}

.galeri-text p{
    text-align: center;
    font-family: Poppins;
    font-size: 13px;
}

/* Footer */
.footer {
    background-color: black;
    padding: 25px;
    color: white;
}

.footer-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 15px;
}

.footer-span {
    color: #0085FF;
}

.footer-sub {
    font-size: 12px;
    font-weight: 400;
}

.footer-nav {
    margin-bottom: 15px;
}

.footer-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
}

.footer-nav a {
    color: white;
    text-decoration: none;
}

.footer-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 30px;
    outline: none;
    margin-right: 10px;
}

.form-input::placeholder {
    text-align: center;
}

.form-button {
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    background-color: #0085FF;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.footer-text {
    color: #0085FF;
    text-align: center;
}

/* Custom HTML */

/* Hero Section */
.hero-custom-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 720px;
    background-color: black;
    padding: 70px;
}

/* Frame Container */
.frame-container {
    background-color: black;
}

.frame-title {
    color: white;
    text-align: center;
    padding: 46px;
}

.frame-card {
    display: flex;
    padding: 51px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.card img {
    width: 90px;
    height: 104px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.button-card {
    padding: 10px;
    border: none;
    border-radius: 15px;
    font-family: K2D;
    font-size: 10px;
    color: white;
    background-color: #0085FF;
    width: 90px;
    cursor: pointer;
}

.button-card a {
    color: white;
    text-decoration: none;
}

/* Custom bike */
.hero-bike-container {
    background-color: black;
}

.bike-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 58px;
}

.bike-container img{
    width: 345px;
    height: 247px;
}

.bike-title {
    color: white;
    text-align: center;
    padding: 18px;
}

.bike-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.bike-input {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 30px;
    outline: none;
    margin-bottom: 10px;
}

.bike-input::placeholder {
    text-align: center;
}

.spare-card-title {
    color: white;
    text-align: center;
    padding: 18px;
}

.card-part-container {
    display: flex;
    background-color: black;
    padding: 15px;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

.card-part {
    background-color: white;
    border-radius: 10px;
    width: 150px;
}

.card-part img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.main-card {
    padding: 5px 5px;
}

.card-part-title {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.harga-diskon {
    margin-top: 5px;
    color: #EB5757;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.harga-awal {
    margin-top: -5px;
    color: rgba(0, 0, 0, 0.50);
    font-size: 10px;
}

.card-part-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.color-part {
    display: flex;
    align-items: center;
}

.blue-title {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: normal;
    margin-right: 5px;
}

.blue-color {
    border: 1px black solid;
    border-radius: 8px;
    padding: 0 3px;
    font-size: 10px;
}

.blue-circle {
    color: #0085FF;
}

.size-part {
    display: flex;
    align-items: center;
}

.size-title {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-right: 5px;
}

.size-border {
    border: 1px black solid;
    border-radius: 8px;
    padding: 0 3px;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.icon-container {
    margin-top: 8px;
}

/* Add Card Styling */
.add-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 10px;
    border: 2px dashed var(--prim-blue, #0085FF);
    width: 150px;
    height: 297px;
}

.add-card-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.add-title {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: center;
}

/* Pembayaran */
.payment-container {
    background-color: black;
    padding: 15px;
}

.voucher-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.voucher-input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color-grey-4, #BDBDBD);
    border-radius: 4px;
    outline: none;
    font-size: 14px;
    font-family: 'Popins', sans-serif;
    font-weight: 400;
    background-color: inherit;
}

.total-tunai {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
}

.total-title {
    color: white;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.total-harga {
    color: white;
    text-align: right;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.bayar-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
    font-family: 'Popins', sans-serif;
    font-weight: 500;
    background-color: var(--prim-blue, #0085FF);
    color: white;
    margin-top: 10px;
}

/* Product HTML */
.search-bar-container {
    
}

.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
